#pagelet_canvas_nav_content {
    display: none;
}

.egoOrganicColumn {
    display: none;
}

#sideNav {
    display: none;
}

#rightCol {
    visibility: hidden;
}

.fbChatSidebar {
    display: none;
}

