div.style-scope.ytd-shelf-renderer {
    display: none;
}

#continuations {
    display: none;
}

#end {
    display: none; 
}

yt-icon-button.style-scope.ytd-topbar-menu-button-renderer.style-default {
    display: none;
}